.cornerText {
    position: absolute;
    right: 1%;
    font-size: 3rem;
    bottom: 3%;
    color: rgb(255, 255, 0);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px gold,
        0 0 82px gold,
        0 0 92px gold,
        0 0 102px gold,
        0 0 151px gold;
}