.skill {
    display: flex;
    padding-top: 13%;
    flex-direction: column;
    padding-bottom: 5%;
    overflow-y: scroll;
    gap: 10%;
    width: 50%;
}

img {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.hat {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main {
    display: flex;
    height: 100%;
    width: 87%;
    flex-direction: row;
    padding-left: 2%;
}

.content {
    display: flex;
    font-size: 3rem;
    text-align: left;
    font-weight: bold;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
    animation: description 1.5s ease-in-out;
}

@keyframes description {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.skillTitle {
    color: transparent;
    text-shadow: 0 0 3px white;
    transition: all .5s ease-in-out;
}

.skillTitle:hover {
    color: #C0C0C0;
    transform: scale(1.4);
    transform-origin: 0% 100%;
    // text-shadow:
    //     0 0 7px #fff,
    //     0 0 10px #fff,
    //     0 0 21px #fff,
    //     0 0 42px #0fa,
    //     0 0 82px #0fa,
    //     0 0 92px #0fa,
    //     0 0 102px #0fa,
    //     0 0 151px #0fa;
}

.skillTitleActive {
    transition: all .5s ease-in-out;
    color: #C0C0C0;
    transform: scale(1.4);
    transform-origin: 0% 100%;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 82px #0fa,
        0 0 151px #0fa;
}

.descriptionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    margin-top: 50%;
    margin-bottom: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3%;
    text-align: justify;
}

.cornerText {
    position: absolute;
    right: 1%;
    font-size: 3rem;
    bottom: 3%;
    color: rgb(255, 255, 0);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px gold,
        0 0 82px gold,
        0 0 92px gold,
        0 0 102px gold,
        0 0 151px gold;
}