.main {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-top: 10%;
    padding-left: 3%;
}

.content {
    // padding: 1%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-text-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.content-text-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

img {
    max-height: 100%;
    max-width: 50%;
    object-fit: contain;
}

.text {
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslategray;
    color: white;
    height: 50%;
}