<div class="main">
    <mat-list class="skill">
        <ng-container *ngFor="let s of skills;let i = index">
            <mat-list-item class="content" [id]="setId(s)" (click)="onClick(s, i)">
                <span [ngClass]="skillIndex === i ? 'skillTitleActive' : 'skillTitle'">
                    {{ s }}
                </span>
            </mat-list-item>
        </ng-container>
    </mat-list>
    <ng-container *ngIf="selectedSkill !== ''">
        <div class="description">
            <span class="descriptionContent">
                {{ selectedSkill }}
                The description here is just my feeling towards the item only!!
            </span>
        </div>
    </ng-container>
    <app-corner-text text="MY SKILL AND KNOWLEDGE"></app-corner-text>
</div>