@import "styles";

canvas {
    position: absolute;
    width: 100%;
    cursor: inherit;
}

.main {
    display: flex;
    flex-direction: column;
    // opacity: 0.5;
    // background-repeat: no-repeat;
    background-attachment: fixed;
    // background-size: cover;
    // background-image: url('../assets/background.jpeg');
    background: linear-gradient(-45deg, darkred, darkorange, rgb(107, 107, 0), rgb(11, 74, 0), rgb(17, 0, 115), rgb(54, 0, 92), rgb(74, 0, 74));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    // height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    20% {
        background-position: 0 100%;
    }

    40% {
        background-position: 40 30%;
    }

    50% {
        background-position: 100% 50%;
    }

    60% {
        background-position: 60% 0%;
    }

    80% {
        background-position: 0% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.prev {
    background-color: black;
    height: 100%;
    width: 100%;
}

.prev {
    cursor: url('../assets/ace.png'), auto;
}

.about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill {
    height: 100vh;
    position: relative;
    min-height: 100%;
}

.work {
    height: 100%;
    position: relative;
}

form {
    height: 100%;
    width: 100%;
}